.cat-search-bar input[type="text"].invalid-url {
    color: #A9A9A9;
    border-color: #1a1a1a;
    background-color: #000000;
}

.cat-search-bar input[type="text"].unknown-url {
    color: #FFFFFF;
    border-color: #FFFFFF;
    background-color: #1a1a1a;
}

.cat-search-bar input[type="text"].ip-url {
    color: #00ffcc;
    border-color: #00ffcc;
}

.cat-search-bar input[type="text"].youtube-url {
    color: #ff4444;
    border-color: #ff4444;
}

.cat-search-bar input[type="text"].spotify-url {
    color: #1DB954;
    border-color: #1DB954;
}

.cat-search-bar input[type="text"].soundcloud-url {
    color: #ff7700;
    border-color: #ff7700;
}

.cat-search-bar input[type="text"].roblox-url {
    color: #007aff;
    border-color: #007aff;
}

.cat-search-bar input[type="text"].base64-url {
    color: #9966ff;
    border-color: #9966ff;
}

.cat-search-bar input[type="text"].domain-url {
    color: #ff5733;
    border-color: #ff5733;
}

.cat-search-bar input[type="text"].youtube-url::placeholder {
    color: rgba(255, 68, 68, 0.6);
}

.cat-search-bar input[type="text"].spotify-url::placeholder {
    color: rgba(29, 185, 84, 0.6);
}

.cat-search-bar input[type="text"].soundcloud-url::placeholder {
    color: rgba(255, 119, 0, 0.6);
}

.cat-search-bar input[type="text"].roblox-url::placeholder {
    color: rgba(0, 122, 255, 0.6);
}

.cat-search-bar input[type="text"].base64-url::placeholder {
    color: rgba(153, 102, 255, 0.6);
}

.cat-search-bar input[type="text"].domain-url::placeholder {
    color: rgba(255, 87, 51, 0.6);
}

.cat-search-bar input[type="text"].generic-url {
    color: #4169e1;
    border-color: #4169e1;
}

.cat-search-bar input[type="text"].generic-url::placeholder {
    color: rgba(65, 105, 225, 0.6);
}

.link-type-message.unknown {
    color: #FFFFFF;
}

.link-type-message.ip {
    color: #00ffcc;
}

.link-type-message.youtube {
    color: #ff4444;
}

.link-type-message.spotify {
    color: #1DB954;
}

.link-type-message.soundcloud {
    color: #ff7700;
}

.link-type-message.roblox {
    color: #007aff;
}

.link-type-message.base64 {
    color: #9966ff;
}

.link-type-message.domain {
    color: #ff5733;
}

.link-type-message.generic {
    color: #4169e1;
} 